<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h1 style="color: white">Registration</h1>
        </div>
    </div>
</nav>

<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully registered to our website.
                </div>
            </div>

            <h2>Registration</h2>

            <form th:action="@{/registration}" method="post" th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="patientName"> Patient Name </label>
                    <input
                            id="patientName"
                            class="form-control"
                            th:field="*{patientName}"
                            required
                            autocomplete="off"
                    />
                </div>

                <div class="form-group">
                    <label class="control-label" for="contactInfo"> Contact Details </label>
                    <input
                            id="contactInfo"
                            class="form-control"
                            th:field="*{contactInfo}"
                            required
                            autocomplete="off"
                    />
                </div>

                <div class="form-group">
                    <label class="control-label" for="password"> Password </label>
                    <input
                            id="password"
                            class="form-control"
                            type="password"
                            th:field="*{password}"
                            required
                            autocomplete="off"
                    />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered? <a href="login" th:href="@{/login}">Login here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
